%footer.cg-footer
  .container
    %img{alt: '', src: '/images/cyberbw.png'}
    %hr
    %nav
      %ul.nav.nav-pills
        %li
          = link_to 'Home', '/'
        %li
          = link_to 'Services', '/services.html'
        %li
          = link_to 'Solutions', '/solutions.html'
        %li
          = link_to 'Blog', '/blog/'
        %li
          = link_to 'Contact', '/contact.html'
